<h1>Salut! Veuillez confirmer votre email!</h1>

<p>
	Vous avez été correctement désabonné de la newsletter je vous remerice pour votre confiance. 
</p>

<p>
	J'éspère que vous reviendre vite reprendre des nouvelles de la Newsletter de Om Nada bramha!

	Cordialement la direction.
</p>
